<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Rahim Entezari</h2>
        </header>
        <p> Machine Learning Guy.
        <br />
        M.Sc. of Computer Science
        <br />
      in the <a href="http://ce.iust.ac.ir//">Iran University of Science and Technology</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Read more</a></li>
            </ul>
        </footer>

    </div>

</section>
